<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <a class="fruits-index-link" href="/fruits">
        <div class="index-link-text">Back to Fruits</div>
    </a>
    <h1><%= fruit.name %></h1>
    <h2><%= fruit._id %></h2>
    <h2><%= fruit.isReadyToEat %></h2>
    <form action="/fruits/<%= fruit._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
    </form>
    <a href="/fruits/<%= fruit._id %>/edit"><button>Edit Fruit</button></a>
</body>
</html>